/* ..................>Home Css<................... */

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
img {
max-width: 100%;
height: auto;
}
section {
    padding: 60px 0;
   min-height: 100vh;
}

.sec-title{

z-index: 1;
margin-bottom:60px;
}

.sec-title .title{

display: block;
font-size: 18px;
line-height: 24px;
color: #00aeef;
font-weight: 500;
margin-bottom: 15px;
}

.sec-title h2{

display: block;
font-size:40px;
line-height: 1.28em;
color: #0a0a0a;
font-weight: 600;
padding-bottom:18px;

}

.sec-title h2:before{
position:absolute;
content:'';
left:0px;
bottom:0px;
width:50px;
height:3px;
background-color:#d1d2d6;
}

.sec-title .text{
position: relative;
font-size: 16px;
line-height: 26px;
color: #848484;
font-weight: 400;
margin-top: 35px;
}

.sec-title.light h2{
color: #ffffff;
}

.sec-title.text-center h2:before{
left:50%;
margin-left: -25px;
}

.list-style-one{
position:relative;
}


.btn-style-one{
position: relative;
display: inline-block;
font-size: 17px;
line-height: 30px;
color: #ffffff;
padding: 10px 30px;
font-weight: 600;
overflow: hidden;
letter-spacing: 0.02em;
background-color: #031217;
}

.btn-style-one:hover{
background-color: #0794c9;
color: #ffffff;
}
.about-section{
position: relative;
padding: 120px 0 70px;
}

.about-section .sec-title{
margin-bottom: 45px;
}



.about-section .content-column .inner-column{
position: relative;
padding-left: 30px;
}

.about-section .text{
margin-bottom: 20px;
font-size: 16px;
line-height: 26px;
color: white;
font-weight: 400;
}



.about-section .btn-box{
position: relative;
}

.about-section .btn-box a{
padding: 15px 50px;
}


.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 314px;
    height: 175px;
    text-align: center;
    box-shadow: 2px 2px 20px rgba(90,118,253,0.15);
    border-radius: 10px;
    background-color: #08171b;
    margin: 20px;
    flex-grow: 1;
}
h2{
    top: 50px;
}
